body {
  background-color: whitesmoke;

  /* Smoothly transition the background color */
  transition: background-color 0.5s;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
  width: 100%;
  background-color: #000;
  overflow: hidden;
}
nav ul {
  list-style-type: none;
  float: right;
  margin-top: 15px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  text-align: center;
  padding: 20px 30px;
  color: #fff;
  display: block;
  font-weight: 600;
}
nav ul li a:hover {
  color: pink;
}
nav ul li a:active {
  color: cyan;
}
.nav_logo {
  float: left;
  padding: 10px;
}
#logo {
  width: 100px;
  height: 70px;
}
#heading {
  color: #fff;
  float: left;
  font-size: 25px;
  font-weight: 750;
  margin-top: 32px;
}

/* Using flex with the column direction to
  align items in a vertical direction */
.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: URL('../images/imgmusic.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}

hr {
  display: inline-block;
  width: 1500px;
  margin-top: 30px;
}

/* Changing the font sizes to suitable ones */
.now-playing {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 60px;
}

.track-name {
  font-weight: 700;
  font-size: 2rem;
}

.track-artist {
  font-weight: 700;
  font-size: 1.5rem;
}

/* Using flex with the row direction to
  align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity 0.2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

/* Change the mouse cursor to a pointer
  when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}
